body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.top-banner {
    text-align: center;
    background-image: linear-gradient(#ffffff00, #121212), url("images/donation13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding: 200px 300px;
    color: white;
}

.top-banner h1 {
    font-size: 60px;
    height: 40px;
}

.top-banner p {
    margin-top: 60px;
    margin-bottom: 40px;
    width: 70%;
    padding-left: 130px;
}

.donate-button {
    background-color: coral;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
}